<div class="row justify-content-center">
    <div class="col-md-8 col-lg-4">
        <div class="card mt-4">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <div class="text-primary loginTitle">Forgot Password</div>
                </div>
                <div class="p-2 mt-4">
                    <form [formGroup]="forgotForm">

                        <div class="mb-3" *ngIf="stepOne">
                            <mat-form-field class="w-100">
                                <mat-label>Enter Mobile No.</mat-label>
                                <input matInput formControlName="mobileNo">
                                <mat-error>Please Mobile No.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="mb-3" *ngIf="stepTwo">
                            <mat-form-field class="w-100">
                                <mat-label>New Password</mat-label>
                                <input type="password" matInput formControlName="newPassword">
                                <mat-error>Please Enter New password.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="mb-3" *ngIf="stepTwo">
                            <mat-form-field class="w-100">
                                <mat-label>Confirm Password</mat-label>
                                <input type="password" matInput formControlName="confirmPassword">
                                <mat-error>Please Enter Confirm password.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="mt-4">
                            <button class="btn btn-success w-100" type="submit" *ngIf="!stepTwo"
                                (click)="checkUser()">Find User</button>
                            <button class="btn btn-success w-100" type="submit" *ngIf="stepTwo"
                                (click)="updatePassword()">Update Password</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>