.headerContainer {
    height: 60px;
    display: flex;
    width: 100%;
    box-shadow: 1px 1px 4px 2px #ececec;

    .header {
        display: flex;
        width: 100%;
        align-items: center;
        height: 100%;
        position: relative;

        .profile {
            position: absolute;
            right: 15px;

            .profileBtn {
                background-color: rgb(197 197 197 / 54%);
                border-radius: 50%;
                padding: 8px 9px;

                .fa-user {
                    font-size: 14px;
                }
            }

            .profileBtn:focus,
            .profileBtn:hover {
                background-color: rgb(197 197 197 / 90%);
                border-radius: 50%;
                border: none;
            }
        }
    }
}