<div class="profileContainer">
    <div class="mainContainer">
        <div class="mainCard" [formGroup]="profileForm">
            <div class="cardHeader">Profile</div>

            <div class="formEdit" (click)="enableForm()">
                <i class="fa-solid fa-pen-to-square"></i> Edit
            </div>

            <div class="profilePhoto mt-3">
                <div class="profileImg">
                    <img class="img-thumbnail rounded-circle avatar-xl" alt="200x200"
                        src="../../../../assets/avatar.svg" *ngIf="!imageUrl">
                    <img class="img-thumbnail rounded-circle avatar-xl" *ngIf="imageUrl" [src]="imageUrl">
                </div>
                <input type="file" class="fileuploader" (change)="onFileSelected($event)">
                <button class="fileuploaderBtn"><i class="fa-solid fa-arrow-rotate-left"></i></button>
            </div>

            <div class="cardRow">
                <div class="inputDiv">
                    <mat-form-field class="w-100">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName">
                        <mat-error>Please Enter First Name.</mat-error>
                    </mat-form-field>
                </div>
                <div class="inputDiv">
                    <mat-form-field class="w-100">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName">
                        <mat-error>Please Enter Last Name.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="cardRow">
                <div class="inputDiv">
                    <mat-form-field class="w-100">
                        <mat-label>Mobile No.</mat-label>
                        <input matInput formControlName="mobileNo">
                        <mat-error>Please Enter Mobile No.</mat-error>
                    </mat-form-field>
                </div>
                <div class="inputDiv">
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error>Please Enter Email.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="cardRow">
                <div class="inputDiv">
                    <mat-form-field class="w-100">
                        <mat-label>Password</mat-label>
                        <input type="{{ isEdit ? 'text' : 'password'}}" matInput formControlName="password">
                        <mat-error>Please Enter Password.</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="updateBtn">
                <button class="btn btn-primary" *ngIf="isEdit" (click)="updateForm()">Update</button>
            </div>
        </div>
    </div>
</div>