<div class="taskBoard" cdkDropListGroup>
    <div class="boardTitle">
        {{ title }} {{ boardID }}
    </div>
    <div class="taskList" cdkDropList [cdkDropListData]="taskList" (cdkDropListDropped)="drop($event)">

        <div class="task" *ngFor="let task of taskList" cdkDrag [cdkDragData]="task">
            <div class="desc">
                {{ task.title }}
            </div>
        </div>

        <div class="createTask" (click)="openDialog()">
            + Create Task
        </div>
    </div>
</div>