.loginTitle {
    font-size: 20px;
}

::ng-deep .mdc-text-field {
    background-color: white !important;
}

::ng-deep .mdc-text-field--focused {
    background-color: white !important;
}

.forgotPassword {
    cursor: pointer;
    color: #666666;
}

.eyePosition {
    position: absolute;
    right: 10px;
    top: 25px;
    cursor: pointer;
}