<div class="row justify-content-center">
    <div class="col-md-8 col-lg-4">
        <div class="card mt-4">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <div class="text-primary loginTitle">Login</div>
                </div>
                <div class="p-2 mt-4">
                    <form [formGroup]="loginForm">

                        <div class="mb-3">
                            <mat-form-field class="w-100">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email">
                                <mat-error>Please Enter Email.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="mb-3">
                            <mat-form-field class="w-100">
                                <mat-label>Password</mat-label>
                                <input matInput formControlName="password">
                                <mat-error>Please Enter password.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="forgotPassword" (click)="redirectTo('forgotPassword')">
                            forgot password?
                        </div>

                        <div class="mt-4">
                            <button class="btn btn-success w-100" type="submit" (click)="login()">Sign In</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="mt-4 text-center">
            <p class="mb-0">Don't have an account ? <a href="javascript:void(0);"
                    class="fw-semibold text-primary text-decoration-underline" (click)="redirectTo('signup')">
                    Signup
                </a> </p>
        </div>

    </div>
</div>