<div class="row justify-content-center">
    <div class="col-md-8 col-lg-4">
        <div class="card mt-4">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary">Login</h5>
                </div>
                <div class="p-2 mt-4">
                    <form [formGroup]="loginForm">

                        <div class="mb-3">
                            <label for="username" class="form-label">Email</label>
                            <input type="email" formControlName="email" name="email" class="form-control" id="email"
                                placeholder="Enter email">
                            <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                                Please Enter Email.
                            </mat-error>
                        </div>

                        <div class="mb-3">
                            <!-- <div class="float-end">
                                <a href="auth-pass-reset-basic.html" class="text-muted">Forgot password?</a>
                            </div> -->
                            <label class="form-label" for="password-input">Password</label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                                <input type="password" class="form-control pe-5 password-input"
                                    placeholder="Enter password" id="password-input" formControlName="password"
                                    name="password">
                                <mat-error
                                    *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                                    Please Enter Email.
                                </mat-error>
                                <button
                                    class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted shadow-none password-addon"
                                    type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="auth-remember-check">
                            <label class="form-check-label" for="auth-remember-check">Remember me</label>
                        </div>

                        <div class="mt-4">
                            <button class="btn btn-success w-100" type="submit" (click)="login()">Sign In</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="mt-4 text-center">
            <p class="mb-0">Don't have an account ? <a href="javascript:void(0);"
                    class="fw-semibold text-primary text-decoration-underline" (click)="redirectTo('signup')"> Signup
                </a> </p>
        </div>

    </div>
</div>